<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Unsecure Home Page</title>
<link rel="stylesheet" type="text/css" media="all"  
	href="../static/css/mycss.css" th:href="@{/css/mycss.css}"/>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
	<h1>Hello, Welcome to Spring Security!</h1>
	<p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
	<p>Navigate to the secured pages by clicking
	<a href="/secure"th:href="@{/secure}"> here</a>.</p>
</body>
</html>